body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    

}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 3px;
}

article{
    flex: 2;
    overflow-y: auto;
    color: brown;
   
}
article h1, h2, h3{
    color: black;


}

aside{
    flex: 1;
    overflow-y: auto;
    background-color: beige;
    
}
aside p{
    color: brown;
    text-shadow: 10px;
    text-decoration-line: line-through;
    background-color: antiquewhite;
}